.js-todo-list{
    display: grid;
    grid-template-columns: 500px 30px 30px;
    width: 600px;
    row-gap: 30px;
    font-size: 16px;
    font-family: Arial;
    color: black; 
}
.para-1{
    font-size: 18px;
    color: black;
    font-family: Arial;
    font-weight: bold;
}
.div-01{
 margin-left: 50px;
 height: 60px;
    margin-top: 20px;
}
.div-01 input{
     width: 300px;
     height: 25px;
    font-size: 12px;
    border: 1px solid rgb(175,175,175);
    border-radius: 4px;
 }
 .div-01 button{
  color: white;
  background-color: rgb(43, 146, 230);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 7px;
 }
.para{
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 50px;
    
}
.div-2{
     margin-top: 50px;
    margin-left: 300px;
    width: 600px;
}